
@page { size: us-letter; margin: 0.25in; }

pages {  display: block; width: 8.5in; font-family: Calibri }
page  {  display: block }

obverse, reverse { display: table; page-break-inside:avoid;
 border-spacing: 0.25in }
 
obverse > *:last-child,
reverse > *:last-child { margin-left: 0.5in }
row              { display: table-row; margin-top: 0.25in;
                   height: 2.5in }
front, back      { display: table-cell; width: 4in;
                   border: thin solid black;
                   overflow: hidden; padding: 0.25in }

headword              {  display: block; font-weight: bold; font-size: 140%;
                         height: 1.75in; overflow: hidden; padding-top: 0.5in }
dsp  { display: block; font-size: 110%; font-weight: bold;
  height: 0.5in; overflow: hidden }

def  { display: block; font-size: 110%;
  height: 1in; overflow: hidden }
  
poS  { display: inline-block; width: 80%;
  font-style: italic }
front poS { color: grey }

cat  { font-weight: bold; font-size: 80%; display: block; text-align: right; border-bottom: thin solid black  }

front > poS, back > frq  { float: right; text-align: right }
